NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Local or Supabase
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"
DIRECT_URL="postgresql://postgres:postgres@localhost:54322/postgres"

# Auth.js
AUTH_SECRET="" # Added by `npx auth secret`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

## Resend (optional)
# AUTH_RESEND_KEY=
# NEXT_PUBLIC_AUTH_RESEND_KEY=
# EMAIL_FROM=contact@example.dev
NEXT_PUBLIC_EMAIL_FROM=contact@example.dev

## Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=